[user]
	name = Julian Phillips
	email = julian@julianlp.com

# [core]
# 	excludesfile = /home/kadus/.gitignore_global

[includeIf "gitdir:~/Developer/four-site/"]
    [user]
        email = jp@four-site.com

[includeIf "gitdir:~/Developer/go/src/four-site/foursite-web"]
    [user]
        email = jp@four-site.com