[user]
	name = Julian Phillips
	email = julian@julianlp.com

# [core]
# 	excludesfile = /home/kadus/.gitignore_global

[includeIf "gitdir:~/Developer/four-site/"]
    path = ~/Developer/four-site/.gitconfig

[includeIf "gitdir:~/Developer/go"]
    path = ~/Developer/four-site/.gitconfig